<script src="/vendor/jquery/jquery.min.js"></script>
{{ partial "miner.html" }}

<script>
//lifted code to make the coins fall.
//Added feature to increase/decrease the amount of coins based on the throttle
function gimmick(el) {
    var exists = document.getElementById('gimmick')
    if (exists) {
        exists.parentNode.removeChild(exists);
        return false;
    }

	//get the canvas element
    var element = document.querySelector(el);
    var canvas = document.createElement('canvas'),
        ctx = canvas.getContext('2d'),
        focused = false;
	
	//set canvas size to the whole window
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    canvas.id = 'gimmick'
  
    //variable to determine the color the coins will be.
    var clr = (Math.random()*1000)%100;
    
    var coin = new Image();	
    
    //based on var clr, sets the image to use for the coins.
	if(clr >= 80){
      coin.src = '/coins/purple.png';
	}
    if(clr >= 60 && clr < 80){
      coin.src = '/coins/orange.png';
	}
    if(clr >= 40 && clr < 60){
      coin.src = '/coins/green.png';
	}
    if(clr >= 20 && clr < 40){
      coin.src = '/coins/blue.png';
	}
    if(clr >= 0 && clr < 20){
      coin.src = '/coins/pink.png';
	}
    //super secret easter egg. If you set the throttle to 0, it gives you rainbow coins.
	if(localStorage.getItem('throttle') == 0){
      coin.src = '/coins/rainbow.png';
	}
	
    // 440 wide, 40 high, 10 states
    coin.onload = function () {
        element.appendChild(canvas)
        focused = true;
        drawloop();
    }
	
    var coins = []

    function drawloop() {
        if (focused) {
            requestAnimationFrame(drawloop);
        }
        
        ctx.clearRect(0, 0, canvas.width, canvas.height)

        if (Math.random() < (localStorage.getItem('throttle') ? ((100 - localStorage.getItem('throttle'))-10) / 100 : .3 )) {
            coins.push({
                x: Math.random() * canvas.width | 0,
                y: -50,
                dy: 3,
                s: 0.5 + Math.random(),
                state: Math.random() * 10 | 0
            })
        }
        var i = coins.length
        while (i--) {
            var x = coins[i].x
            var y = coins[i].y
            var s = coins[i].s
            var state = coins[i].state
            coins[i].state = (state > 9) ? 0 : state + 0.1
            coins[i].dy += 0.3
            coins[i].y += coins[i].dy

            ctx.drawImage(coin, 44 * Math.floor(state), 0, 44, 40, x, y, 44 * s, 40 * s)

            if (y > canvas.height) {
                coins.splice(i, 1);
            }
        }
    }

}
</script>

<script>
//lifted code that does something probably
 $('#threads').text(navigator.hardwareConcurrency);
  var threads = $('#threads').text();
  var gustav;
  var wallet;
  var statuss;
  var barChart;
  var barChartCanvas = $("#barchart-canvas");
  var hashingChart;
  var charts = [barChartCanvas];
  var selectedChart = 0;
  var lastrate = 0;
  var totalHashes = 0;
  var totalHashes2 = 0;
  var acceptedHashes = 0;
  var hashesPerSecond = 0;
$('#thread-add').click(function() {
    threads++;
    $('#threads').text(threads);
        addWorker();
  });

  $('#thread-remove').click(function() {
    if (threads > 1) {
      threads--;
      $('#threads').text(threads);
          removeWorker();
    }
  });
//handy logging function to make sure the miner is working
function startLogger() {
	//runs once a  second
	//gets the hashes values, code lifted from webminer website
	//change the text of the labels to the variables (althought I've since removed the labels)
    statuss = setInterval(function() {
	  lastrate = ((totalhashes) * 0.5 + lastrate * 0.5);
	  totalHashes = totalhashes + totalHashes
      hashesPerSecond = Math.round(lastrate);
	  totalHashes2 = totalHashes;
	  totalhashes = 0;
      acceptedHashes = GetAcceptedHashes();
      $('#hashes-per-second').text(hashesPerSecond);
	$('#total-hashes').text(totalHashes);
	$('#approximate-donation').text(hashesPerSecond * 0.0012325679999999999)
      $('#accepted-shares').text(totalHashes2 +' | '+ acceptedHashes);
	  
    }, 1000);
	//get the throttle value from the cookies
      $('#throttle').val(localStorage.getItem('throttle'));
  };
  //change the throttle of the miner;
  function ChangeThrottle(){
	//get throttle from textbox
	newthrottle = $("#throttle").val();
	//if the throttle is null, greater than 80 or less than 0 don't change it
	if(!newthrottle || newthrottle > 80 || newthrottle < 0){
	//if we have determined that this is a mobile device the throttle should be 100% so they are not mining
	newthrottle = mobileAndTabletcheck() ? 100 : 60;
	}
	//save the throttle as a cookie or something so it's remembered
	localStorage.setItem('throttle',newthrottle);
	//reload page
	location.reload();
  }
window.onload = function(){
gimmick('html');
//$("#Hashes").innerText = GetAcceptedHashes();
startLogger();
//console.log(GetAcceptedHashes());
};

</script>

<style>
#gimmick {
    display:block;
    pointer-events:none;
    position: absolute;
    top:0;
    left:0;
}

body{
	background-color: black;
	color: white;
}

</style>

<h1 style="width:100%; text-align:center; margin-top:10%">Thanks For Donating!</h1>
<div id="content" style="width:100%; text-align:center;">
	<span>Your Hashes per Second: </span><span id="hashes-per-second"></span></br>
	<span>Your Total Hashes: </span><span id="total-hashes"></span></br>
	<span>Your Estimated Donation / 24 Hours: $</span><span id="approximate-donation"></span>
	
	<h3>Controls</h3>
	<span>Throttle (A number between 0 and 80 with a lower number meaning more power)</span></br>
	<i>Also note that this works sitewide</i></br>
	<input id="throttle" style="width: 100px" type="number" step="10" min="0" max="80"> <button onclick="ChangeThrottle()" id="change-throttle">Change Throttle</button>

</div>