	</div>
	

	</div>
	<!-- Footer -->
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center">Made with <span style="color:var(--brown);"><i class="far fa-heart"></i></span> by {{ .Site.Title }}</p>
			<p class="m-0 text-center"><a href="mailto:admin@mangakuma.net" style="border-right:solid 1px; padding: 0px 10px; color:var(--brown);"><i class="far fa-envelope"></i></a>
			<a style="border-right:solid 1px var(--brown); padding: 0px 10px; color:var(--brown);" href="/dmca/">DMCA</a>
			<a style="padding: 0px 10px; color:var(--brown);" href="/about/">About</a>
			</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/animatedgradient.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</body>

</html>
